<div class="container">

 <div class="pic">
     <img src="https://appanashapetclinic.com/clients/8278/images/slideshows/63662/dreamstime_xl_47357452.jpg" style='width:100%;height:100%' alt='[]'>
 </div>
 
 <div class="header">
         <h1>Petbook</h1>
     
</div>
 <div class="addPet">
     <%= link_to 'Add pet', controller: 'pets', url: new_pet_path %>
</div>
<div class="viewPet">
     <%= link_to 'View Pet List', controller: 'pets' %>
</div>

</div>

