// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grass {
    background-color:white;
    //background-image: url("http://www.desktopwallpaperhd.net/wallpapers/11/7/grassy-hill-ryanstfu-113639.jpg");
    background-image: url("https://appanashapetclinic.com/clients/8278/images/slideshows/63662/dreamstime_xl_47357452.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.heading {
    position:absolute;
    top: 35%;
    left: 32%;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-size: 24px;
}
.headerAddPet{
    position:absolute;
    top: 35%;
    left: 32%;
    z-index: 2;
    transform: translate(-50%, -50%);
}
.indexPage {
    position:absolute;
    top: 35%;
    left: 33%;
    z-index: 2;
    transform: translate(-50%, -50%);
}
.table {
    position:absolute;
    top: 47%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}
.backLink {
    position:absolute;
    top: 0%;
    left: -4%;
    z-index: 2;
    margin-top: -4px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 55px;
    width: 5%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #FFFFFF;
    margin-bottom: -5px;
}
.addPetLink {
    position:absolute;
    top: 35%;
    left: 73%;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-size: 24px;
}
label{
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}
.name{
    position:absolute;
    top: 45%;
    left: 20%;
    z-index: 2;
    transform: translate(-50%, -50%);
    margin-top: -4px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 55px;
    width: 10%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #ECECEC;
    margin-bottom: -5px;
    
 }
 .pettype{
    position:absolute;
    top: 45%;
    left: 33%;
    z-index: 2;
    transform: translate(-50%, -50%);
    margin-top: -4px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 55px;
    width: 10%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #ECECEC;
    margin-bottom: -5px;
 }
 .traits{
    position:absolute;
    top: 55%;
    left: 20%;
    z-index: 2;
    transform: translate(-50%, -50%);
    margin-top: -4px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 55px;
    margin-bottom: -5px;
    width: 10%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #ECECEC;
 }
 
 .petspecies{
    position:absolute;
    top: 55%;
    left: 33%;
    z-index: 2;
    transform: translate(-50%, -50%);
    margin-top: -4px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 55px;
    width: 10%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #ECECEC;
    margin-bottom: -5px;
 }
 .age{
    position:absolute;
    top: 65%;
    left: 20%;
    z-index: 2;
    transform: translate(-50%, -50%);
    margin-top: -4px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 55px;
    width: 10%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #ECECEC;
    margin-bottom: -5px;
 }
 .gender{
    position:absolute;
    top: 65%;
    left: 33%;
    z-index: 2;
    transform: translate(-50%, -50%);
    margin-top: -4px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 55px;
    margin-bottom: -5px;
    width: 10%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #ECECEC;
 }
 
 .description{
    position:absolute;
    top: 54.7%;
    left: 51.2%;
    z-index: 2;
    transform: translate(-50%, -50%);
    margin-top: -4px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 55px;
    margin-bottom: -5px;
    width: 300px;
    height: 200px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #ECECEC;
    resize: none;
 }
 .owner{
    position:absolute;
    top: 35%;
    left: 70%;
    z-index: 2;
    transform: translate(-50%, -50%);
    margin-top: -4px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 55px;
    width: 10%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #ECECEC;
    margin-bottom: -5px;
 }
 .number{
   position:absolute;
    top: 45%;
    left: 70%;
    z-index: 2;
    transform: translate(-50%, -50%);
    margin-top: -4px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 55px;
    width: 10%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #ECECEC;
    margin-bottom: -5px;
 }
 .email{
    position:absolute;
    top: 55%;
    left: 70%;
    z-index: 2;
    transform: translate(-50%, -50%);
    margin-top: -4px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 55px;
    width: 10%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #ECECEC;
    margin-bottom: -5px;
 }
 

 .city{
    position:absolute;
    top: 65%;
    left: 70%;
    z-index: 2;
    transform: translate(-50%, -50%);
    margin-top: -4px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 55px;
    width: 10%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #ECECEC;
    margin-bottom: -5px;
 }
 

input[type=button], input[type=submit]{
    position:absolute;
    top: 92%;
    left: 92%;
    z-index: 2;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    float: right;
    border: none;
    color: black;
    font-size: 25px;
    padding: 25px 40px;
    text-decoration: none;
    cursor: pointer;
 }
 
 .viewName {
    position:absolute;
     color :black;
     top: 45%;
     left: 28%;
     transform: translate(-50%, -50%);
     padding: 12px 12px;
     border: 2px solid #ccc;
     background-color: #ECECEC;
 }
 
 .viewAge {
     position:absolute;
     color :black;
     top: 45%;
     left: 40%;
     transform: translate(-50%, -50%);
     padding: 12px 12px;
     border: 2px solid #ccc;
     background-color: #ECECEC;
 }
 
 .viewGender {
     position:absolute;
     color :black;
     top: 55%;
     left: 28%;
     transform: translate(-50%, -50%);
     padding: 12px 12px;
     border: 2px solid #ccc;
     background-color: #ECECEC;
 }
 
 .viewPetType {
     position:absolute;
     color :black;
     top: 55%;
     left: 40%;
     transform: translate(-50%, -50%);
     padding: 12px 12px;
     border: 2px solid #ccc;
     background-color: #ECECEC;
 }

.viewPetSpecies {
    position:absolute;
    color :black;
    top: 65%;
    left: 28%;
    transform: translate(-50%, -50%);
    padding: 12px 12px;
     border: 2px solid #ccc;
     background-color: #ECECEC;
}

.viewTraits {
    position:absolute;
    color :black;
    top: 65%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 12px 12px;
     border: 2px solid #ccc;
     background-color: #ECECEC;
}

.viewDescription {
    position:absolute;
    color :black;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 12px 12px;
     border: 2px solid #ccc;
     background-color: #ECECEC;
}

.viewOwner {
    position:absolute;
    color :black;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 12px 12px;
     border: 2px solid #ccc;
     background-color: #ECECEC;
}

.viewPhoneNumber {
    position:absolute;
    color :black;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 12px 12px;
     border: 2px solid #ccc;
     background-color: #ECECEC;
}

.viewEmail {
    position:absolute;
    color :black;
    top: 60%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 12px 12px;
     border: 2px solid #ccc;
     background-color: #ECECEC;
}

.viewCity {
    position:absolute;
    color :black;
    top: 70%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 12px 12px;
     border: 2px solid #ccc;
     background-color: #ECECEC;
}

.error {
    position: absolute;
    color: black;
    top: 120%;
    left: 10%;
    transform: tranlate(-50%,-50%);
    
}

.showComment {
    position: absolute;
    color: black;
    top: 110%;
    left: 15%;
    transform: tranlate(-50%,-50%);
}

.addComment {
    position: absolute;
    color: black;
    top: 110%;
    left: 50%;
    transform: tranlate(-50%,-50%);
}
.submitComment {
    position: absolute;
    color: black;
    top: 70%;
    left: 180%;
    transform: tranlate(-50%,-50%);
}