// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-color:white;
}

.container{
    position:relative;
    text-align:center;
}

.header{
    position:absolute;
    top: 42%;
    left: 50%;
    
    z-index: 2;
    transform: translate(-50%, -50%);
}

.addPet{
    position:absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.viewPet{
    position:absolute;
    z-index: 2;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}


